/* src/styles/candidateHeader.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color: #32007d; 
    color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: sticky; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}
.header-title h1 {
    margin: 0;
    font-size: 24px; 
    font-family: 'Arial', sans-serif; 
}

.logout-btn {
    padding: 8px 12px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Aligns the button to the start */
    margin-top: auto; /* Pushes button to the bottom of sidebar */
}

.logout-btn:hover {
    background-color: #c4c4c4;
    transform: scale(1.05);
}
