
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #32007d;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; 
    box-sizing: border-box; 
}

.header-title h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

.header-buttons {
    display: flex;
    align-items: center;
    position: relative; 
}

.profile-icon-container {
    cursor: pointer;
    position: relative; 
}

.dropdown-menu {
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1010; 
    min-width: 150px; 
}

.dropdown-item {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
}

.profile-icon-container svg {
    color: white; 
    cursor: pointer;
}


.logout-btn {
    padding: 8px 12px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c4c4c4;
    transform: scale(1.05);
}
